@tailwind base;
@tailwind components;
@tailwind utilities;

button>svg {
  margin-right: 5px;
}

html * {
  font-family: 'Trebuchet MS', 'Arial, sans-serif';
}

.bug-choose-field {
  border: 1px solid rgb(117, 221, 255);
  border-radius: 7px;
  padding: 4px;
  box-shadow: 3px 3px 3px rgb(189, 191, 189);
  color: rgb(28, 219, 78);
  outline: none;
  width: 100%;
  z-index: 1;
  position: relative;
}

.bug-name-list {
  border: 1px solid rgb(117, 221, 255);
  border-radius: 7px;
  padding: 4px;
  box-shadow: 3px 3px 3px rgb(189, 191, 189);
  z-index: 1;
  position: relative;
  margin: 10px 0;
  overflow-y: auto;
  max-height: 260px;
}


.bug-name-field {
  color: rgb(28, 219, 78);
  padding: 4px;
}

.bug-all {
  display: block;
  max-width: 200px;
}

.landing-page-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-page-textarea {
  border: 2px solid rgb(213, 242, 245);
  border-radius: 7px;
  box-shadow: 3px 3px 3px rgb(189, 191, 189);
  /* aspect-ratio: 1 / 1; */
  /* width: 20%; */
  padding: 4px;
  margin: 10px;
  overflow: auto;
  background-color: rgb(253 242 248);
  color: rgb(88 28 135);
  max-width: 200px;
  min-height: 200px;
}

.lp-h2 {
  font-size: 22px;
  text-align: center;
}

.lp-content {
  font-size: 17px;
  text-align: center;
}

.lp-icon {
  width: 100%;
  display: inline;
  height: 30px;
}

.sidebar-container {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  display: flex;
  min-width: 170px;
  flex-direction: column;
  margin-left: 16px;
}

.sidebar-content {
  flex-grow: 1
}

.about-page-div {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.about-page-content {
  text-align: center;
  max-width: 750px;
  font-size: 14px;
  color: rgb(146, 146, 146);
}